<div class="xp-window firefox-pls">
    <audio autoplay><source src="/audio/xp_exclamation.mp3"/></audio>
    <div class="xp-window-title">
        <span>UH OH!!!!</span>
        <div class="xp-window-nav">
            <button class="xp-window-nav-button xp-window-close" onclick="console.log('WHOOOO')">X</button>
        </div>
    </div>
    <div class="xp-window-content dialog">
    <div class="xp-window-content-image"><img src="/img/xp_warning.png"/></div>
        <div class="xp-window-content-text">
           You are using a Chromium-based browser.<br>
           Please consider downloading something <b>better</b>.<br>
           <br>
           <a href="https://www.mozilla.org/firefox/new/">https://www.mozilla.org/firefox/new/</a>
        </div>
    </div>
</div>