<div id="loader" class="xp-window hidden">
    <div class="xp-window-title">
        <span>Downloading index.html</span>
        <div class="xp-window-nav">
    	    <button class="xp-window-nav-button xp-window-close" onclick="console.log('ARGGGG')">X</button>
        </div>
    </div>
    <div class="xp-window-content vertical">
        <div class="xp-file-transfer">
            <img src="/img/globe.png"/>
            <div class="xp-file"><div class="xp-file-sprite"></div></div>
            <img src="/img/folder.png"/>
        </div>
        Opening:<br>
        index.html from <script>document.write(window.location.href);</script>
        <div class="xp-progress-bar">
        	<div class="xp-progress-bar-fill"></div>
        </div>
    </div>
</div>