<div class="xp-window popup consent">
    <audio autoplay><source src="/audio/xp_ding.mp3"/></audio>
    <div class="xp-window-title">
        <span>Consent</span>
        <div class="xp-window-nav">
            <button class="xp-window-nav-button xp-window-close" onclick="console.log('awww')">X</button>
        </div>
    </div>
    <div class="xp-window-content dialog">
        <div class="xp-window-content-image"><img src="/img/cookie.png" preload/></div>
        <div class="xp-window-content-text">
            This website gives out cookies.<br>
            Would you like a cookie?
        </div>
        <div class="xp-dialog-button-container">
            <button class="xp-dialog-button">Yes</button>
            <button class="xp-dialog-button">OK</button>
        </div>
    </div>
</div>