:root {
  --text-color: #b2b2b2;
}

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
html {
  background-image: url("./deepslate.png");
  background-size: 80px;
  image-rendering: crisp-edges;
}
body {
  backdrop-filter: brightness(15%);
}
#container {
  display: grid;
  grid-template-rows: auto 50px;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  row-gap: 50px;
  padding-top: 50px;

  color: var(--text-color);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
#page {
  height: 100%;
  width: 100vw;
  max-width: 900px;
  display: grid;
  grid-template-rows: 130px auto;
  box-shadow: 0 0 10px -5px black;
  row-gap: 10px;
  margin: 0 auto;
  z-index: 2;
}
#head {
  height: 130px;
  display: flex;
  padding: 0 10px;
  align-content: center;
  gap: 10px;
}
#ascii {
  padding: 0;
  margin: 0;
}
#command-prompt {
  padding: 1rem 0;
}
#foot {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  background: #171717df;
  height: 50px;
  width: 100vw;
  box-shadow: inset -4px -4px #0000002f, inset 4px 4px #ffffff0d, 0 0 20px 10px black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#content {
  display: flex;
  /* height: 200vh; */
  gap: 10px;
}
.cool-box {
  border: 4px solid #555;
  background-color: #2e2f2fbf;
  box-shadow: inset -4px -4px #0000002f, inset 4px 4px #ffffff0d, 0 0 10px -5px black;

  box-sizing: border-box;
  padding: 10px;
}
#hello {
  width: 65%;
}
#linques {
  width: 35%;
}
.blinking {
  animation: blinking 1s steps(2, jump-none) infinite;
}
span.cmd::before {
  content: "> ";
}

#fly {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  justify-content: center;
  background: #000000bf;
}

.xp-window {
  background: linear-gradient(135deg, #0053e1, #0036aa);
  font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-rows: 2em auto;
  width: fit-content;
  height: fit-content;
  border-radius: 10px 10px 0 0;
  box-shadow:
  inset 0 5px 5px -3px /*#1269ff*/ #ffffff4d,
  inset 0 -10px 10px 0px #0036aa,
  inset 10px 0 10px 0px #0036aa,
  inset -10px 0 10px 0px #0036aa;
  overflow: hidden;
}

.firefox-pls {
  top: 30%;
  position: relative;
}

.xp-window-title {
  color: white;
  text-shadow: 1px 1px 1px black;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 5px 5px;
  box-shadow:
  inset 0 -6px 5px -5px #ffffff4d;
  justify-content: space-between;
  gap: 20px;
}

.xp-file {
  position: absolute;
  animation: xp-file steps(20) 2s infinite;
}

.xp-file-sprite {
  width: 32px;
  height: 32px;
  background: url("./xp file.png") 0 0 no-repeat;
  background-size: 2100%;
  image-rendering: crisp-edges;
  animation: xp-file-sprite steps(20) 2s infinite;
}

@keyframes xp-file-sprite {
  0% {background-position: 0%;} 100% {background-position: 100%;}
}

@keyframes xp-file {
  0% {left: 32px; top: 10px;}
  25% {top: 4px;}
  50% {top: 0px;}
  75% {top: 4px;}
  100% {left: 192px; top: 10px;}
}

.xp-window-content {
  position: relative;
  padding: 15px;
  background: #edead9;
  color: black;
  margin: 0 3px 3px 3px;
  font-size: 10pt;
  box-shadow: 0 0 5px 4px #00168ad4;
  z-index: 2;
  display: flex;
}

.xp-window-content.dialog {
  display: grid;
  grid-template-columns: 32px auto;
  grid-auto-rows: auto;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.xp-window-content-text {
  padding: 0 20px;
}

.xp-window-content-image {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.xp-window-content-image > img {
  width: 32px; height: 32px;
}

.xp-window-nav {

}

.xp-window-nav-button {
  padding: 0;
  color: white;
  text-align: center;
  font-weight: 1000;
  border: 1px solid white;
  border-radius: 3px;
  width: 1.3rem;
  height: 1.3rem;
  box-shadow: inset 3px 3px 3px 0 #ffffff4d;
}

.xp-window-nav-button:hover {
  box-shadow: inset 3px 3px 3px 0 #ffffff8d;
}

.xp-window-nav-button:active {
  box-shadow: inset 0 0 3px 0 #0000003f;
}

.xp-window-close {
  background: #ff5566;
}

.xp-dialog-button-container {
  grid-area: 2 / 1 / 2 / 3 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.xp-dialog-button {
  background: #edead9;
  border: 1px solid black;
  min-width: 4rem;
  box-shadow: inset 2px 2px 2px 0px #ffffffd4, inset -2px -2px 2px 0px #0000002f;
  border-radius: 1px;
}

.xp-dialog-button:hover {
  box-shadow: inset 2px 2px 2px 2px #ffffffe4, inset -2px -2px 2px 0px #0000001f;
}

.xp-dialog-button:active {
  box-shadow: inset 2px 2px 2px 0px #0000004f, inset -2px -2px 2px 0px #00000001;
}

@keyframes blinking {
  from {
    background-color: none;
  }
  to {
    background-color: var(--text-color);
  }
}